<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the Dashboard</h1>
    <img width="100px" height="100px" src = "images/<%= user.image %>" alt="img" />
    <p>Welcome <%= user.username %> .</p>
    <a href="/logout">Logout</a>
  </body>
</html>
